Repository seanmcbroom/JMdictSQLite, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, ci, ts, db, parser, types, tags

.github/labeler.yml:

tests:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.test.*'

ci:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/**'

ts:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.ts'

db:
- changed-files:
  - any-glob-to-any-file:
    - '/src/db/**/*.ts'

parser:
- changed-files:
  - any-glob-to-any-file:
    - '/src/parser/**/*.ts'

types:
- changed-files:
  - any-glob-to-any-file:
    - '/src/types/**/*.ts'

tags:
- changed-files:
  - any-glob-to-any-file:
    - '/src/constants/tags.ts'

refactor: rename insertCharacterStmt to insertKanjiStmt and update related logic
  src/lib/database/database.ts
Labels: ts

release version 1.5.0
  package.json
Labels: none

refactor: update ParserOptions interface to include generic type for buffer items
  src/lib/parsers/BaseParser/BaseParser.ts
Labels: ts

refactor: update parser handler types to include generic type for entries
  src/lib/parsers/BaseParser/BaseParser.ts
  src/lib/parsers/JMdictParser/JMdictParser.ts
  src/lib/parsers/JMdictParser/handlers/close/index.ts
  src/lib/parsers/JMdictParser/handlers/open/index.ts
  src/lib/parsers/KanjidicParser/KanjidicParser.ts
  src/lib/parsers/KanjidicParser/handlers/close/index.ts
  src/lib/parsers/KanjidicParser/handlers/open/index.ts
  src/lib/types/parser.ts
Labels: ts

chore: update description
  package.json
Labels: none

refactor: improve documentation and comments in EntityReplace class
  src/lib/util/EntityReplace.ts
Labels: ts

refactor: enhance type definitions and documentation for database query interfaces
  README.md
  src/lib/types/database-query.ts
Labels: ts

refactor: standardize comments and formatting in type definitions
  README.md
Labels: none

chore: remove unnecessary moduleResolution and baseUrl from tsconfig due to typescript updates
  tsconfig.json
Labels: none

refactor: align query types
  src/lib/types/database-query.ts
Labels: ts

refactor: update module and moduleResolution settings in tsconfig
  tsconfig.json
Labels: none

refactor: update import paths to include file extensions for consistency
  src/lib/constants/JMdictTags.ts
  src/lib/database/database.ts
  src/lib/database/postprocess/refs.ts
  src/lib/parsers/JMdictParser/handlers/close/index.ts
  src/lib/parsers/JMdictParser/handlers/open/index.ts
  src/lib/parsers/KanjidicParser/KanjidicParser.ts
  src/lib/parsers/KanjidicParser/handlers/close/character.ts
  src/lib/parsers/KanjidicParser/handlers/close/cp_value.ts
  src/lib/parsers/KanjidicParser/handlers/close/dic_ref.ts
  src/lib/parsers/KanjidicParser/handlers/close/index.ts
  src/lib/parsers/KanjidicParser/handlers/close/literal.ts
  src/lib/parsers/KanjidicParser/handlers/close/q_code.ts
  src/lib/parsers/KanjidicParser/handlers/close/rad_value.ts
  src/lib/parsers/KanjidicParser/handlers/open/character.ts
  src/lib/parsers/KanjidicParser/handlers/open/index.ts
  src/lib/util/EntityReplace.ts
Labels: ts

refactor: update test structure and add validation helpers
  package.json
  test/helpers/db.ts
  test/helpers/validation.ts
  test/processor.test.ts
  test/runner.ts
  test/tests/bootstrap.test.ts
  test/tests/suites/performance.test.ts
  test/tests/suites/query.test.ts
  test/tests/suites/schema.test.ts
  test/tests/suites/senses.test.ts
  tsconfig.json
Labels: tests, ts

refactor: add kanji table sanity tests and enhance validation checks in tests
  README.md
  src/lib/types/database-query.ts
  src/lib/types/database.ts
  test/helpers/validation.ts
  test/runner.ts
  test/tests/suites/kanji.test.ts
  test/tests/suites/meta.test.ts
  test/tests/suites/performance.test.ts
  test/tests/suites/relations.test.ts
  test/tests/suites/schema.test.ts
  test/tests/suites/search.test.ts
Labels: tests, ts

fix: revert node and npm engine versions to match compatibility requirements
  package.json
Labels: none

docs: update local run requirements for node and npm versions
  .github/CONTRIBUTING.md
Labels: none

chore: change script descriptions in package.json
  package.json
Labels: none

refactor: remove verb_data handling from sense insertion logic
  src/lib/database/database.ts
  src/lib/database/schema.ts
  src/lib/database/statements.ts
  src/lib/parsers/JMdictParser/handlers/close/pos.ts
Labels: ts

refactor: remove verb_data and VerbData interface from database schema
  README.md
  src/lib/types/database-query.ts
  src/lib/types/database.ts
Labels: ts

refactor: remove verb_data from sense structure and related tests
  src/lib/parsers/JMdictParser/handlers/open/sense.ts
  test/tests/suites/senses.test.ts
Labels: tests, ts

refactor: revert separating verb data from pos tags (#123)
  README.md
  src/lib/database/database.ts
  src/lib/database/schema.ts
  src/lib/database/statements.ts
  src/lib/parsers/JMdictParser/handlers/close/pos.ts
  src/lib/parsers/JMdictParser/handlers/open/sense.ts
  src/lib/types/database-query.ts
  src/lib/types/database.ts
  test/tests/suites/senses.test.ts
Labels: tests, ts

chore: bump version to 1.5.1
  package.json
Labels: none

docs: update type reference comments
  README.md
Labels: none

feat: add sort_order field to senses and update related database logic
  README.md
  src/lib/database/database.ts
  src/lib/database/schema.ts
  src/lib/database/statements.ts
  src/lib/parsers/JMdictParser/handlers/open/sense.ts
  src/lib/types/database-query.ts
  src/lib/types/database.ts
Labels: ts

chore: bump version to 1.5.2
  package.json
Labels: none

ci: run tests against full xml files for releases
  package.json
  src/lib/util/download-edrdg-archive.ts
  test/tests/bootstrap.test.ts
Labels: tests, ts

ci: run test suite before an automatic release
  .github/workflows/create-release.yml
Labels: ci

ci: improve test before release
  .github/workflows/create-release.yml
Labels: ci

fix: use basePath for archive file download
  src/lib/util/download-edrdg-archive.ts
Labels: ts

fix: make the test runner log fails properly
  package.json
  test/runner.ts
Labels: ts

fix(senses.test): ref object is expect to be an array
  test/tests/suites/senses.test.ts
Labels: tests, ts

refactor(processor): clean up
  src/lib/processor/processor.ts
Labels: ts

docs: improve comments
  src/lib/parsers/BaseParser/BaseParser.ts
  src/lib/parsers/JMdictParser/JMdictParser.ts
  src/lib/parsers/KanjidicParser/KanjidicParser.ts
Labels: ts

refactor: rename `BaseParser` to `BaseXMLParser`
  src/lib/parsers/BaseParser/index.ts
  src/lib/parsers/BaseXMLParser/BaseXMLParser.ts
  src/lib/parsers/BaseXMLParser/index.ts
  src/lib/parsers/JMdictParser/JMdictParser.ts
  src/lib/parsers/KanjidicParser/KanjidicParser.ts
  src/lib/types/parser.ts
Labels: ts

feat: add logging util
  src/index.ts
  src/lib/processor/processor.ts
  src/lib/util/download-edrdg-archive.ts
  src/lib/util/log.ts
Labels: ts

docs: improve error message
  src/index.ts
Labels: ts

refactor: make verbose an env variable
  package-lock.json
  package.json
  src/lib/processor/processor.ts
  src/lib/util/log.ts
Labels: ts

refactor: use env `production` for releases
  .github/workflows/create-release.yml
  package.json
  test/tests/bootstrap.test.ts
Labels: tests, ci, ts

fix(create-release): use `start:production` command
  package.json
Labels: none

feat: add `create-release:production` command for releases
  .github/workflows/create-release.yml
  package.json
Labels: ci
