Repository seanmcbroom/JMdictSQLite, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, ci, ts, db, parser, types, tags

.github/labeler.yml:

tests:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.test.*'

ci:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/**'

ts:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.ts'

db:
- changed-files:
  - any-glob-to-any-file:
    - '/src/db/**/*.ts'

parser:
- changed-files:
  - any-glob-to-any-file:
    - '/src/parser/**/*.ts'

types:
- changed-files:
  - any-glob-to-any-file:
    - '/src/types/**/*.ts'

tags:
- changed-files:
  - any-glob-to-any-file:
    - '/src/constants/tags.ts'

docs: Update README.md
  README.md
Labels: none

refactor: change database wrapper strucutre
  src/app.ts
  src/database/database.ts
  src/database/index.ts
  src/parser/parser.ts
Labels: ts

refactor: lib file structure
  src/app.ts
  src/lib/constants/tags.ts
  src/lib/database/database.ts
  src/lib/database/index.ts
  src/lib/parser/entityReplace.ts
  src/lib/parser/handlers/close/ent_seq.ts
  src/lib/parser/handlers/close/entry.ts
  src/lib/parser/handlers/close/field.ts
  src/lib/parser/handlers/close/gloss.ts
  src/lib/parser/handlers/close/index.ts
  src/lib/parser/handlers/close/ke_inf.ts
  src/lib/parser/handlers/close/ke_pri.ts
  src/lib/parser/handlers/close/keb.ts
  src/lib/parser/handlers/close/misc.ts
  src/lib/parser/handlers/close/pos.ts
  src/lib/parser/handlers/close/re_inf.ts
  src/lib/parser/handlers/close/re_pri.ts
  src/lib/parser/handlers/close/reb.ts
  src/lib/parser/handlers/close/s_inf.ts
  src/lib/parser/handlers/open/entry.ts
  src/lib/parser/handlers/open/index.ts
  src/lib/parser/handlers/open/k_ele.ts
  src/lib/parser/handlers/open/r_ele.ts
  src/lib/parser/handlers/open/sense.ts
  src/lib/parser/index.ts
  src/lib/parser/parser.ts
  src/lib/types/database.ts
  src/lib/types/tags.ts
  test/index.test.ts
Labels: tests, ts

refactor: move types to types folder
  src/lib/parser/handlers/close/index.ts
  src/lib/parser/handlers/open/index.ts
  src/lib/types/parser.ts
Labels: ts

feat: language field
  src/lib/database/database.ts
  src/lib/parser/handlers/open/index.ts
  src/lib/parser/handlers/open/lsource.ts
  src/lib/parser/handlers/open/sense.ts
  src/lib/parser/parser.ts
  src/lib/types/database.ts
  src/lib/types/parser.ts
Labels: ts

refactor(parser): add lastSense getter
  src/lib/parser/handlers/close/pos.ts
  src/lib/parser/handlers/close/s_inf.ts
  src/lib/parser/handlers/open/lsource.ts
Labels: ts

docs: update readme
  README.md
Labels: none

release 0.8.0
  package.json
Labels: none

feat: add ant, see fields
  README.md
  src/lib/database/database.ts
  src/lib/parser/handlers/close/ant.ts
  src/lib/parser/handlers/close/index.ts
  src/lib/parser/handlers/close/xref.ts
  src/lib/parser/handlers/open/sense.ts
  src/lib/types/database.ts
Labels: ts

release 0.9.0
  package.json
Labels: none

docs: Update README.md
  README.md
Labels: none

docs: Update README.md
  README.md
Labels: none

docs: Update README.md (#10)
  README.md
Labels: none

Update README.md
  README.md
Labels: none

refactor: move processor to `lib` folder
  src/app.ts
  src/index.ts
  src/lib/processor/index.ts
  src/lib/processor/processor.ts
  test/processor.test.ts
Labels: tests, ts

style: replace `Jmdict` with `JMdict`
  scripts/download-jmdict.ts
  src/app.ts
  src/lib/constants/tags.ts
  src/lib/database/database.ts
  src/lib/parser/handlers/close/ant.ts
  src/lib/parser/handlers/close/ent_seq.ts
  src/lib/parser/handlers/close/entry.ts
  src/lib/parser/handlers/close/field.ts
  src/lib/parser/handlers/close/gloss.ts
  src/lib/parser/handlers/close/ke_inf.ts
  src/lib/parser/handlers/close/ke_pri.ts
  src/lib/parser/handlers/close/keb.ts
  src/lib/parser/handlers/close/misc.ts
  src/lib/parser/handlers/close/pos.ts
  src/lib/parser/handlers/close/re_inf.ts
  src/lib/parser/handlers/close/re_pri.ts
  src/lib/parser/handlers/close/reb.ts
  src/lib/parser/handlers/close/s_inf.ts
  src/lib/parser/handlers/close/xref.ts
  src/lib/parser/handlers/open/entry.ts
  src/lib/parser/handlers/open/k_ele.ts
  src/lib/parser/handlers/open/lsource.ts
  src/lib/parser/handlers/open/r_ele.ts
  src/lib/parser/handlers/open/sense.ts
  src/lib/parser/parser.ts
  src/lib/processor/processor.ts
  src/lib/types/parser.ts
  test/processor.test.ts
Labels: tests, ts

fix: broken link
  src/lib/constants/tags.ts
Labels: ts

doc: Update README.md
  README.md
Labels: none

fix: rename inputs/outputs
  package.json
  src/app.ts
Labels: ts

feat: post procesing layer for refs
  README.md
  src/lib/database/database.ts
  src/lib/types/database.ts
Labels: ts

docs: split SQL types and parsing types
  src/lib/types/database-sql.ts
  src/lib/types/database.ts
Labels: ts

fix: update imports
  test/processor.test.ts
Labels: tests, ts

fix: update imports
  test/processor.test.ts
Labels: tests, ts

refactor: restructure database lib
  src/lib/database/database.ts
  src/lib/database/postprocess/index.ts
  src/lib/database/postprocess/refs.ts
  src/lib/database/schema.ts
  src/lib/database/statements.ts
Labels: ts

release 0.9.5
  package.json
Labels: none

fix: download jmdict script output file name
  scripts/download-jmdict.ts
Labels: ts

feat: retain `written` field on ref obj
  README.md
  src/lib/database/postprocess/refs.ts
  src/lib/types/database-sql.ts
Labels: ts

release 0.9.6
  package.json
Labels: none

refactor: update schema
  src/lib/database/schema.ts
Labels: ts

fix: metadata table removed by accident
  src/lib/database/database.ts
Labels: ts

feat: add more sql tests
  test/processor.test.ts
Labels: tests, ts

chore: create dependabot-automerge.yml
  .github/workflows/dependabot-automerge.yml
Labels: ci

chore: update dependabot-automerge.yml
  .github/workflows/dependabot-automerge.yml
Labels: ci

ci: add dependabot automerge
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
Labels: ci

ci: fix formatting
  .github/workflows/ci.yml
Labels: ci

ci: add better task names
  .github/workflows/ci.yml
Labels: ci

ci: split automerge
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
Labels: ci

chore: add dependabot reviewer
  .github/workflows/dependabot-automerge.yml
  .github/workflows/dependabot-reviewer.yml
Labels: ci

chore: change dependabot merge method to squash
  .github/workflows/dependabot-reviewer.yml
Labels: ci

chore: unpin all deps (this is dependabot's job)
  package.json
Labels: none
