Repository seanmcbroom/JMdictSQLite, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, ci, ts, db, parser, types, tags

feat: add 'semi-' prefix to lang of mixed words (rare)
  src/lib/parser/handlers/open/lsource.ts
Labels: ts

chore: update @typescript-eslint/eslint-plugin 8.38.0 -> 8.39.0
  package-lock.json
  package.json
Labels: none

release 0.9.7
  package.json
Labels: none

refactor: rename query types (for the last time probably)
  src/lib/database/postprocess/refs.ts
  src/lib/types/database-query.ts
  test/processor.test.ts
Labels: tests, ts

fix: fallback to empty string instead of `undefined` before adding semi- prefix to mixed lang senses
  src/lib/parser/handlers/open/lsource.ts
Labels: ts

feat: add restr kanji to kana reading field
  src/lib/database/database.ts
  src/lib/parser/handlers/close/index.ts
  src/lib/parser/handlers/close/re_restr.ts
  src/lib/parser/handlers/open/r_ele.ts
  src/lib/types/database-query.ts
  src/lib/types/database.ts
Labels: ts

feat: add restr kanji to kana reading field (#29)
  src/lib/database/database.ts
  src/lib/parser/handlers/close/index.ts
  src/lib/parser/handlers/close/re_restr.ts
  src/lib/parser/handlers/open/r_ele.ts
  src/lib/types/database-query.ts
  src/lib/types/database.ts
Labels: ts

release 1.0.0
  package.json
Labels: none

Update README.md
  README.md
Labels: none

Create CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

refactor(parser): convert `transitivy` and `auxiliary` fields on verb_data to boolean values.
  README.md
  src/lib/constants/tags.ts
  src/lib/parser/handlers/close/pos.ts
  src/lib/parser/handlers/open/sense.ts
  src/lib/types/database-query.ts
  src/lib/types/database.ts
Labels: ts

release v1.0.5
  package.json
Labels: none

Update project title in README
  README.md
Labels: none

refactor: fix sonarqube recommendations
  src/app.ts
  src/lib/parser/entityReplace.ts
  src/lib/processor/processor.ts
Labels: ts

refactor: move edrdg ftp archive download functionity for future use
  package.json
  scripts/download-jmdict.ts
  scripts/sqlite-query/search-kanji-tags.sqlite3-query
  scripts/sqlite-query/search-sense-pos.sqlite3-query
  src/app.ts
  src/lib/util/download-edrdg-archive.ts
Labels: ts

chore: update recommended engine versions
  package-lock.json
  package.json
Labels: none

feat: pass kanjidic to processor
  src/app.ts
  src/lib/processor/processor.ts
Labels: ts

fix test
  test/processor.test.ts
Labels: tests, ts

fix: cast handler type
  src/lib/parsers/JMdictParser/handlers/open/index.ts
  src/lib/parsers/KanjidicParser/handlers/close/index.ts
  src/lib/parsers/KanjidicParser/handlers/open/index.ts
Labels: ts

refactor: remove old logic
  src/lib/parsers/JMdictParser/handlers/close/entry.ts
Labels: ts

chore: update kanjidic2 sample for tests
  test/data/kanjidic2-sample.xml
Labels: none

chore: fix linting
  .prettierrc
  eslint.config.js
  src/lib/constants/JMdictTags.ts
  src/lib/parsers/BaseParser/BaseParser.ts
  src/lib/processor/processor.ts
  src/lib/types/parser.ts
  test/processor.test.ts
Labels: tests, ts

refactor: move EntityReplace to util with customizable tags
  src/lib/constants/JMdictTags.ts
  src/lib/constants/KanjidicTags.ts
  src/lib/parsers/BaseParser/BaseParser.ts
  src/lib/parsers/JMdictParser/index.ts
  src/lib/parsers/KanjidicParser/entityReplace.ts
  src/lib/parsers/KanjidicParser/index.ts
  src/lib/processor/processor.ts
  src/lib/types/tags.ts
  src/lib/util/EntityReplace.ts
Labels: ts

chore: add docs
  src/lib/parsers/BaseParser/BaseParser.ts
  src/lib/parsers/JMdictParser/JMdictParser.ts
  src/lib/parsers/KanjidicParser/KanjidicParser.ts
  src/lib/processor/processor.ts
Labels: ts

chore: update prittier config
  .prettierrc
  test/processor.test.ts
Labels: tests, ts

refactor: simplify adding new handlers
  src/lib/parsers/JMdictParser/JMdictParser.ts
  src/lib/parsers/JMdictParser/handlers/close/index.ts
  src/lib/parsers/JMdictParser/handlers/open/index.ts
  src/lib/parsers/KanjidicParser/KanjidicParser.ts
  src/lib/parsers/KanjidicParser/handlers/close/index.ts
  src/lib/parsers/KanjidicParser/handlers/close/literal.ts
  src/lib/parsers/KanjidicParser/handlers/open/character.ts
  src/lib/parsers/KanjidicParser/handlers/open/index.ts
  src/lib/processor/processor.ts
  src/lib/types/database.ts
Labels: ts

chore: remove npm version limit
  package.json
Labels: none

refactor(BaseParser): improve error handling
  src/lib/parsers/BaseParser/BaseParser.ts
Labels: ts

refactor: setup structure to parse kanjidic
  src/lib/constants/KanjidicTags.ts
  src/lib/parsers/KanjidicParser/handlers/close/cp_value.ts
  src/lib/parsers/KanjidicParser/handlers/close/literal.ts
  src/lib/parsers/KanjidicParser/handlers/open/cp_value.ts
  src/lib/processor/processor.ts
  src/lib/types/database.ts
Labels: ts

feat: write dic refs parsing for kanjidic
  src/lib/parsers/KanjidicParser/handlers/close/dic_ref.ts
  src/lib/parsers/KanjidicParser/handlers/open/dic_ref.ts
  src/lib/types/database.ts
Labels: ts

fix: rename handler functions (oops)
  src/lib/parsers/KanjidicParser/handlers/close/dic_ref.ts
  src/lib/parsers/KanjidicParser/handlers/open/dic_ref.ts
Labels: ts

refactor: simplify program entry point
  package.json
  src/app.ts
  src/index.ts
Labels: ts

feat: add logic to parse character, literal, codepoint, dic_number, query_code, radical, reading_meaning
  src/lib/parsers/KanjidicParser/handlers/close/character.ts
  src/lib/parsers/KanjidicParser/handlers/close/grade.ts
  src/lib/parsers/KanjidicParser/handlers/close/meaning.ts
  src/lib/parsers/KanjidicParser/handlers/close/nanori.ts
  src/lib/parsers/KanjidicParser/handlers/close/q_code.ts
  src/lib/parsers/KanjidicParser/handlers/close/rad_value.ts
  src/lib/parsers/KanjidicParser/handlers/close/reading.ts
  src/lib/parsers/KanjidicParser/handlers/close/stroke_count.ts
  src/lib/parsers/KanjidicParser/handlers/open/character.ts
  src/lib/parsers/KanjidicParser/handlers/open/meaning.ts
  src/lib/parsers/KanjidicParser/handlers/open/q_code.ts
  src/lib/parsers/KanjidicParser/handlers/open/rad_value.ts
  src/lib/parsers/KanjidicParser/handlers/open/reading.ts
  src/lib/processor/processor.ts
  src/lib/types/database.ts
Labels: ts

feat: add the remaining logic to parse kanjidic
  src/lib/parsers/KanjidicParser/handlers/close/character.ts
  src/lib/parsers/KanjidicParser/handlers/close/freq.ts
  src/lib/parsers/KanjidicParser/handlers/close/jlpt.ts
  src/lib/parsers/KanjidicParser/handlers/close/rad_name.ts
  src/lib/parsers/KanjidicParser/handlers/close/variant.ts
  src/lib/parsers/KanjidicParser/handlers/open/variant.ts
  src/lib/types/database.ts
Labels: ts

feat: implement character insertion logic and database schema for Kanjidic
  src/lib/database/database.ts
  src/lib/database/schema.ts
  src/lib/database/statements.ts
  src/lib/parsers/BaseParser/BaseParser.ts
  src/lib/parsers/JMdictParser/JMdictParser.ts
  src/lib/parsers/KanjidicParser/KanjidicParser.ts
  src/lib/processor/processor.ts
Labels: ts

feat: add kanji table schema to README
  README.md
Labels: none

refactor: rename character-related methods and update database schema for kanji
  src/index.ts
  src/lib/database/database.ts
  src/lib/database/schema.ts
  src/lib/database/statements.ts
  src/lib/parsers/KanjidicParser/KanjidicParser.ts
Labels: ts

.github/labeler.yml:

tests:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.test.*'

ci:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/**'

ts:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.ts'

db:
- changed-files:
  - any-glob-to-any-file:
    - '/src/db/**/*.ts'

parser:
- changed-files:
  - any-glob-to-any-file:
    - '/src/parser/**/*.ts'

types:
- changed-files:
  - any-glob-to-any-file:
    - '/src/types/**/*.ts'

tags:
- changed-files:
  - any-glob-to-any-file:
    - '/src/constants/tags.ts'
