Repository seanmcbroom/JMdictSQLite, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, ci, ts, db, parser, types, tags

.github/labeler.yml:

tests:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.test.*'

ci:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/**'

ts:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.ts'

db:
- changed-files:
  - any-glob-to-any-file:
    - '/src/db/**/*.ts'

parser:
- changed-files:
  - any-glob-to-any-file:
    - '/src/parser/**/*.ts'

types:
- changed-files:
  - any-glob-to-any-file:
    - '/src/types/**/*.ts'

tags:
- changed-files:
  - any-glob-to-any-file:
    - '/src/constants/tags.ts'

feat: split out transivity and verb group data into seperate columns
  src/constants/tags.ts
  src/db/index.ts
  src/parser/parser.ts
  src/types/database.ts
  src/types/tags.ts
Labels: ts

feat: add custom "v" tag to verb senses
  src/constants/tags.ts
  src/parser/parser.ts
Labels: ts

refactor: put verb specific data under a JSON object `verb_data`
  src/db/index.ts
  src/parser/parser.ts
  src/types/database.ts
Labels: ts

fix: update verb data type
  src/types/database.ts
Labels: ts

docs: update database schema diagram
  README.md
Labels: none

fix: type error
  src/parser/parser.ts
Labels: ts

fix: type error
  src/parser/parser.ts
Labels: ts

chore: bump package version
  package.json
Labels: none

feat: split out transivity and verb group data into seperate columns (#6)
  README.md
  package.json
  src/constants/tags.ts
  src/db/index.ts
  src/parser/parser.ts
  src/types/database.ts
  src/types/tags.ts
Labels: ts

feat: add metadata table
  eslint.config.js
  src/db/index.ts
  tsconfig.json
Labels: ts

ci: cleanup commands
  .github/workflows/create-release.yml
  .vscode/settings.json
  README.md
  package.json
Labels: ci

fix: typo
  package.json
Labels: none

fix: don't read package json for version
  src/db/index.ts
  tsconfig.json
Labels: ts

fix: npm scripts chore: update package-lock
  package-lock.json
  package.json
Labels: none

refactor: wrap case with declarations in case block
  src/parser/parser.ts
Labels: ts

chore: recommend sonarlint for code quality
  .vscode/extensions.json
Labels: none

docs: update @see for tags reference
  src/constants/tags.ts
Labels: ts

ci: update create-release command name
  .github/workflows/create-release.yml
  package.json
Labels: ci

docs: update command name
  README.md
Labels: none

docs: update @see for tags reference (#7)
  src/constants/tags.ts
Labels: ts

chore: create release trigger on version tag created
  .github/workflows/create-release.yml
Labels: ci

chore: automatically create release tag when updated in package.json
  .github/workflows/create-release.yml
Labels: ci

chore: issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/question.md
Labels: none

chore: split create-relase, create-version workflows
  .github/workflows/create-release.yml
  .github/workflows/create-version.yml
Labels: ci

chore: release v0.6.6
  package.json
Labels: none

chore: move version tag creation to ci
  .github/workflows/ci.yml
  .github/workflows/create-release.yml
  .github/workflows/create-version.yml
Labels: ci

chore: remove unused workflow
  .github/workflows/cleanup-releases.yml
Labels: ci

chore: add docs to release
  .github/workflows/create-release.yml
Labels: ci

chore: upd release description format
  .github/workflows/create-release.yml
Labels: ci

fix: release version to maifest
  .github/workflows/create-release.yml
Labels: ci

fix: version in manifest
  .github/workflows/create-release.yml
Labels: ci

doc: add db types
  package.json
  src/types/database.ts
  test/index.test.ts
Labels: tests, ts

docs: update readme
  README.md
Labels: none

refactor: rename type WrittenElement -> Written
  README.md
  src/types/database.ts
Labels: ts

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md (#8)
  README.md
Labels: none

Update README.md
  README.md
Labels: none

refactor(parser): restrucure parser into distinct tag handler files
  src/app.ts
  src/parser/handlers/close/ent_seq.ts
  src/parser/handlers/close/entry.ts
  src/parser/handlers/close/field.ts
  src/parser/handlers/close/gloss.ts
  src/parser/handlers/close/index.ts
  src/parser/handlers/close/ke_inf.ts
  src/parser/handlers/close/ke_pri.ts
  src/parser/handlers/close/keb.ts
  src/parser/handlers/close/misc.ts
  src/parser/handlers/close/pos.ts
  src/parser/handlers/close/re_inf.ts
  src/parser/handlers/close/re_pri.ts
  src/parser/handlers/close/reb.ts
  src/parser/handlers/close/s_inf.ts
  src/parser/handlers/open/entry.ts
  src/parser/handlers/open/index.ts
  src/parser/handlers/open/k_ele.ts
  src/parser/handlers/open/r_ele.ts
  src/parser/handlers/open/sense.ts
  src/parser/index.ts
  src/parser/parser.ts
  src/util/entityReplace.ts
Labels: ts

release 0.6.8
  package.json
Labels: none
