Repository seanmcbroom/JMdictSQLite, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, ci, ts, db, parser, types, tags

.github/labeler.yml:

tests:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.test.*'

ci:
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**/**'

ts:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.ts'

db:
- changed-files:
  - any-glob-to-any-file:
    - '/src/db/**/*.ts'

parser:
- changed-files:
  - any-glob-to-any-file:
    - '/src/parser/**/*.ts'

types:
- changed-files:
  - any-glob-to-any-file:
    - '/src/types/**/*.ts'

tags:
- changed-files:
  - any-glob-to-any-file:
    - '/src/constants/tags.ts'

feat: sign release manifest with pgp
  .github/workflows/create-release.yml
  package.json
  public.key
Labels: ci

ci: install dev deps for release
  .github/workflows/create-release.yml
Labels: ci

fix(ci): sign manifest with pgp
  .github/workflows/create-release.yml
Labels: ci

ci: add passphrase to sign with pgp
  .github/workflows/create-release.yml
Labels: ci

docs: pgp signing on release page
  .github/workflows/create-release.yml
Labels: ci

ci: include links to pgp signature in release manifest
  .github/workflows/create-release.yml
Labels: ci

docs: simplify release notes on pgp
  .github/workflows/create-release.yml
Labels: ci

ci: rename `production` env to `deploy`
  .github/workflows/create-release.yml
  package.json
  test/tests/bootstrap.test.ts
Labels: tests, ci, ts

fix(ci): missing comma in manifest.json
  .github/workflows/create-release.yml
Labels: ci

fix(ci): make date and version on release description variables again
  .github/workflows/create-release.yml
Labels: ci

ci: add build archive to release artifacts
  .github/workflows/create-release.yml
Labels: ci

ci: simplify release desc
  .github/workflows/create-release.yml
Labels: ci

ci: archive source code with build and modules in release artifacts
  .github/workflows/create-release.yml
Labels: ci

fix: exclude source archive from tar to prevent “file changed” error
  .github/workflows/create-release.yml
Labels: ci

fix: make source archive release artifact
  .github/workflows/create-release.yml
Labels: ci

refactor: remove unused code
  src/lib/constants/JMdictTags.ts
Labels: ts

feat(post-processing): add jlpt level data
  .gitignore
  data/jlpt.csv
  src/lib/database/postprocess/index.ts
  src/lib/database/postprocess/jlpt.ts
  src/lib/types/database-query.ts
Labels: ts

refactor: improve kana-only matching for jlpt levels
  src/lib/database/postprocess/jlpt.ts
Labels: ts

release 1.5.3
  package.json
Labels: none

fix: logic error in if statement
  src/lib/database/postprocess/jlpt.ts
Labels: ts

refactor: small fixes
  src/lib/database/postprocess/jlpt.ts
Labels: ts

refactor: await database close before log
  src/lib/processor/processor.ts
Labels: ts

fix(jlpt): 看護婦 -> 看護師
  data/jlpt.csv
Labels: none

fix(jlpt): 看護婦 -> 看護師
  data/jlpt.csv
Labels: none

refactor(postprocess): create barrel file
  src/lib/database/postprocess/index.ts
  src/lib/database/postprocess/postprocess.ts
Labels: ts

Delete data/jlpt.csv
  data/jlpt.csv
Labels: none

add new jlpt data
  data/jlpt.csv
Labels: none

update jlpt data (#164)
  data/jlpt.csv
Labels: none

fix(jlpt): replace malformed data
  data/jlpt.csv
Labels: none

Update jlpt.csv
  data/jlpt.csv
Labels: none
